<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppConsola.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AppConsola.Properties.Settings>
            <setting name="AppConsola_ServiciosConsola_ServiciosConsola"
                serializeAs="String">
                <value>http://www.ciudadcontradelincuencia.somee.com/ServiciosConsola.asmx</value>
            </setting>
        </AppConsola.Properties.Settings>
    </applicationSettings>
</configuration>